<a href="https://colab.research.google.com/github/arincons2/RegularExpressions/blob/main/PR1_REG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Program for regular expressions**

In [1]:
# for ignoring warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import libraries for data manipulation
import numpy as np
import pandas as pd
#import math

#Import reg library
import re

In [3]:
#Definiing the number of displayed columns and rows
pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", None)

In [4]:
# importing drive:
#from google.colab import drive
#drive.mount('/content/drive')

#path with data
#path_extraalearn="/content/drive/MyDrive/COLAB_PROJECT2_week8/ExtraaLearn.csv"
#df = pd.read_csv(path_extraalearn)

**Now we create the data frame**

In [5]:
dataCp = {
	'CompanyNames': ['Coca-Cola', ' KFC.USA', 'Tesla?', 'IBM -Vancouver ', 'Microsoft Seattle ', 'Nokia England'],
	'emails': ['alice@example.com', 'bob_at_example.com', 'charlie@example.com', 'alice@example.com', 'bob_at_example.com', 'alice@example.com']
}
df = pd.DataFrame(dataCp)

In [6]:
df.shape

(6, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CompanyNames  6 non-null      object
 1   emails        6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes

In [8]:
df.head()

         CompanyNames               emails
0           Coca-Cola    alice@example.com
1             KFC.USA   bob_at_example.com
2              Tesla?  charlie@example.com
3     IBM -Vancouver     alice@example.com
4  Microsoft Seattle    bob_at_example.com

**First way of removing punctuation marks**

In [9]:
df['CompanyNames'] = df['CompanyNames'].str.replace(r'[()-.?]', '  ', regex=True)
#cleaned_text = re.sub(r'[()-]', '', text)
print(df)

         CompanyNames               emails
0          Coca  Cola    alice@example.com
1            KFC  USA   bob_at_example.com
2             Tesla    charlie@example.com
3    IBM   Vancouver     alice@example.com
4  Microsoft Seattle    bob_at_example.com
5       Nokia England    alice@example.com

**Second way of removing punctuation marks**

In [10]:
df2 = pd.DataFrame(dataCp)
df2['CompanyNames'] = df2['CompanyNames'].str.replace(r'[^\w\s]', ' ', regex=True)
####df2['CompanyNames'] = df2['CompanyNames'].str.replace(r'[^a-zA-Z]', ' ', regex=True) #r'[^a-zA-Z]'
print(df2)

         CompanyNames               emails
0           Coca Cola    alice@example.com
1             KFC USA   bob_at_example.com
2              Tesla   charlie@example.com
3     IBM  Vancouver     alice@example.com
4  Microsoft Seattle    bob_at_example.com
5       Nokia England    alice@example.com

**Removal of city names:**

In [11]:
CityNames = ['Seattle','Vancouver']
CountryNames = ['USA', 'England']

for i_k in CityNames:
     print(i_k, type(i_k))

Seattle <class 'str'>
Vancouver <class 'str'>

In [12]:
print('Initiallly, df2 is:',df2)
print(' ')

for i_k in CityNames:
     #print(i_k, type(i_k))
     #print('Seattle is', type('Seattle'))
     df2['CompanyNames'] = df2['CompanyNames'].replace(i_k, ' ', regex=True)

print('')
print('Improved df2 (without city names):')
print(df2)

Initiallly, df2 is:          CompanyNames               emails
0           Coca Cola    alice@example.com
1             KFC USA   bob_at_example.com
2              Tesla   charlie@example.com
3     IBM  Vancouver     alice@example.com
4  Microsoft Seattle    bob_at_example.com
5       Nokia England    alice@example.com


Improved df2 (without city names):
    CompanyNames               emails
0      Coca Cola    alice@example.com
1        KFC USA   bob_at_example.com
2         Tesla   charlie@example.com
3        IBM        alice@example.com
4   Microsoft      bob_at_example.com
5  Nokia England    alice@example.com

**Now we remove the Country names**

In [13]:
for j_k in CountryNames:
      df2['CompanyNames'] = df2['CompanyNames'].replace(j_k, ' ', regex=True)

print('')
print('Improved df2 (without country names):')
print(df2)

Improved df2 (without country names):
   CompanyNames               emails
0     Coca Cola    alice@example.com
1         KFC     bob_at_example.com
2        Tesla   charlie@example.com
3       IBM        alice@example.com
4  Microsoft      bob_at_example.com
5       Nokia      alice@example.com

**Now we remove leading spaces**

In [14]:
df2['CompanyNames'] = df2['CompanyNames'].str.lstrip(' ')
print('Improved df2 (without leading spaces) is:')
print(df2)

Improved df2 (without leading spaces) is:
   CompanyNames               emails
0     Coca Cola    alice@example.com
1         KFC     bob_at_example.com
2        Tesla   charlie@example.com
3       IBM        alice@example.com
4  Microsoft      bob_at_example.com
5       Nokia      alice@example.com

**Now we remove trailing spaces**

In [15]:
df2['CompanyNames'] = df2['CompanyNames'].str.rstrip(' ')
print('Improved df2 (without trailing spaces):')
print(df2)

Improved df2 (without trailing spaces):
  CompanyNames               emails
0    Coca Cola    alice@example.com
1          KFC   bob_at_example.com
2        Tesla  charlie@example.com
3          IBM    alice@example.com
4    Microsoft   bob_at_example.com
5        Nokia    alice@example.com

# THE END